<!DOCTYPE html>
<html>
  <head>
    <title>Brewmap</title>
    <%= csrf_meta_tags %>
    <style>
      #map {
        height: 100%;
      }
      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
    </style>

    <%= stylesheet_link_tag    'application', media: 'all' %>

    <script src="https://maps.googleapis.com/maps/api/js?key=<%= ENV["GOOGLE_ACCESS_TOKEN"] %>&callback=initMap"
    async defer></script>
    
    <%= javascript_include_tag 'application', defer: true %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
